@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

section{
  margin-left: 20%;
  margin-right: 20%;
}
section li{
  list-style: none;
}

.CW{
  margin-left: 20%;
  margin-right: 20%;

}
.CW li{
  list-style: none;
}

h3{
  font-weight: bold;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  color: #333;
}

h3, h4 {
  color: #0056b3;
}

h3 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.25em;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

ul li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
